body{
    background-color: #f0fff0;
}
.datrastoco-nav {
background-color: orange;
}

.logo  {
    color: white;
    font-size: 23px;
    letter-spacing: 1;
}


#nav-link{
    color: white;
    font-weight: bold;
}

#link-text {
    color: rgb(0, 0, 0);
}
#link-text:hover,#nav-link:hover{
    transform: scale(1.05,1.05);
}
.logo-container{
    border-bottom: 2px solid white;
    padding-left: 15px;
    padding-bottom: 2.5px;
    border-radius: 30px;
}
.banner{
    background-color: orange;
    height: 250px;
}
.body-container{
    min-height: 400px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    
}
.content-container{
    position: relative;
    bottom: 210px;
}

.top-header{
    color: orange;
}

